@font-face {
    font-family: "MWF-MDL2";
    src: url("https://www.microsoft.com/mwf/_h/v3.07/mwf.app/fonts/mwfmdl2-v3.07.woff2") format("woff2"), url("https://www.microsoft.com/mwf/_h/v3.07/mwf.app/fonts/mwfmdl2-v3.07.woff") format("woff"), url("https://www.microsoft.com/mwf/_h/v3.07/mwf.app/fonts/mwfmdl2-v3.07.ttf") format("truetype"), url("https://www.microsoft.com/mwf/_h/v3.07/mwf.app/fonts/mwfmdl2-v3.07.svg") format("svg")
}

@font-face {
    font-family: 'SegoeUI';
    src: local('Segoe UI'), url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2') format("woff2"), url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff') format("woff"), url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf') format("ttf");
    font-weight: 400
}

html {
    font-family: Segoe UI;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h3 {
    text-align: center;
}

section {
    h2 {
        text-align: center;
        margin-top: 5vh;
    }
}

.left {
    text-align: left !important;
    display: block;
    position: relative;

    &::after {
        display: block;
        content: "";
        margin-right: 20px !important;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(374px, auto));
}

.multi {
    margin: 0 auto;
    padding: 24px;
    display: block;
    max-width: 350px;
    background-color: #f2f2f2;
    font-size: 13px;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.25);

    .aimsg {
        padding: 12px;
        max-width: 80%;
        background-color: #fff;
        border-radius: 2px;
        border-top: 2px solid #50e6ff;
        //box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.25);
    }

    .checkbox {
        display: block;
        background-color: #50e6ff;
        margin: 12px 0;
        //box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.25);
        box-shadow: none;
        border-radius: 2px;
        min-height: 32px;
        text-align: center;
        padding: 10px;
        max-width: 200px;
        cursor: pointer;

        input[type=checkbox] {
            float: left;
            display: inline-block;
            margin-right: 6px;

            &::before {
                display: inline-block;
                width: 14px;
                height: 14px;
                background-color: #fff;
                border: 1px solid #505050;
                content: "";
                font-size: 20px;
                line-height: 12px;
                text-align: center;
            }

            &:checked::before {
                background-color: #243a5e;
                color: #fff;
                content: "\2713";
            }
        }
    }

    &.default {
        .checkbox {
            input[type=checkbox] {
                &::before {
                    display: none !important;
                    width: 1px;
                    height: 1px;
                }
            }
        }
    }

    &.two {
        .checkbox {
            position: relative;
            display: block;

            input[type=checkbox] {
                &::before {
                    height: 37px;
                    border: 0;
                    position: relative;
                    top: -13px;
                    width: 37px;
                    border-radius: 2px 0 0 2px;
                    left: -14px;
                    line-height: 37px;
                    transition: left 0.15s ease;
                }
            }
        }
    }

    &.three {
        .checkbox {
            input[type=checkbox] {
                display: block;
                position: absolute;

                &::before {
                    background-color: #50e6ff;
                    border: 0;
                }

                &:checked {
                    &::before {
                        position: absolute;
                        color: #50e6ff;
                    }

                    &::after {
                        display: block;
                        position: absolute;
                        right: -206px;
                        bottom: -12px;
                        content: "\2713";
                        font-size: 2em;
                    }
                }
            }
        }
    }

    &.variable {
        .checkbox {
            max-width: none;
            width: auto;
            display: table;
            padding-right: 24px;
        }
    }

    &.list {
        .checkbox {
            background-color: transparent;
            box-shadow: none;
            padding: 6px;
            width: auto;
            max-width: 300px;

            &:hover {
                box-shadow: none;
                transform: none;
            }
        }
    }
}

.multi .checkbox:hover,
input[type="submit"]:hover,
button.back:hover {
    //transform: translateY(-2px);
    transition: all 0.15s ease;
    //box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.108), 0px 3px 7px rgba(0, 0, 0, 0.13);
}

.shift {
    translate: none;
}

input[type="submit"],
button.back {
    min-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    margin: 12px 0;
    display: block;
    background-color: #d2d2d2;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.disabled {
    opacity: 0.3;
}

.disabled:hover {
    transform: translateY(0) !important;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.25) !important;
    cursor: default;
}