:root {
  --red: #c30;
  --white: #fff;
  --black: #000;
  --gray-e: #eee;
  --gray-d: #ddd;
  --gray-c: #ccc;
  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #333;
  --gray-5: #555;
  --dark: #223;
  --light: #e3e9e9;
  --speed: 0.25s;
  --ease: cubic-bezier(0.5, 0, 0, 1.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  margin: 0;
  padding: 0;
  color: var(--gray-3);
}

img {
  max-width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}
@media screen and (max-width: 1200px) {
  h2 {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.5rem;
}
@media screen and (max-width: 1200px) {
  h3 {
    font-size: 1.1rem;
  }
}

p {
  line-height: 1.5em;
}

.big {
  font-size: 4em;
  font-weight: 100;
}

.huge {
  font-size: 5em;
  font-weight: 100;
}

.red {
  color: var(--red);
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.gray {
  color: var(--gray-c);
}

.darker {
  color: rgba(0, 0, 0, 0.2);
}

a {
  color: var(--red);
  text-decoration: none;
  font-weight: 400;
  transition: color var(--speed);
}
a:hover {
  color: var(--dark);
}

a.button,
button {
  background-color: var(--white);
  display: inline-block;
  padding: 0.5em 1.5em;
  margin-top: 0.5em;
  box-shadow: 1px 1px 0 0 var(--red), 2px 2px 0 0 var(--red);
  transition: all var(--speed) var(--ease);
}
a.button:hover,
button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 1px 1px 0 0 var(--red), 2px 2px 0 0 var(--red), 3px 3px 0 0 var(--red), 4px 4px 0 0 var(--red), 5px 5px 0 0 var(--red);
}
a.button + a.button,
button + a.button {
  margin-left: 1rem;
}

ul {
  list-style: none;
}

.small {
  font-size: 0.8em;
}

.circle {
  border-radius: 50%;
}

.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.halfsize {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.threequartersize {
  display: block;
  width: 75%;
  margin: 0 auto;
}

img, video {
  width: 100%;
}
img.sml, video.sml {
  max-width: 250px;
}
img.med, video.med {
  max-width: 400px;
}

p + p {
  margin-top: 1rem;
}

.nomarg {
  margin: 0;
}

.inline {
  display: inline-block;
}

header {
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;
  color: var(--white);
  z-index: 9;
  height: 35px;
  background-color: rgba(34, 34, 51, 0.8);
  -webkit-backdrop-filter: blur(20px) hue-rotate(180deg) saturate(500%);
          backdrop-filter: blur(20px) hue-rotate(180deg) saturate(500%);
}
@media screen and (max-width: 1200px) {
  header {
    text-align: center;
  }
}

.relative-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow-x: hidden;
}

main {
  top: 0;
  left: 0;
  background-color: var(--gray-e);
  padding: 2rem;
  min-width: 60%;
  transition: min-width var(--speed) var(--ease);
}
main.fullscreen {
  min-width: 100%;
}
@media screen and (max-width: 1200px) {
  main {
    min-width: 50%;
    padding: 1rem;
  }
}
@media screen and (max-width: 540px) {
  main {
    min-width: 40%;
    padding: 1rem;
  }
}

section {
  max-width: 90rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

section > h2,
.project-details > h2 {
  margin-bottom: 1rem;
}

aside {
  position: relative;
  padding: 2rem;
  min-width: 40%;
  transform: translateX(100%);
  transition: transform var(--speed) var(--ease);
  background-color: var(--light);
}
aside.active {
  transform: translateX(0);
}
aside.active .close {
  transform: rotate(0deg);
}
aside .close {
  position: absolute;
  font-size: 1.75rem;
  text-align: right;
  padding-right: 8px;
  width: 48px;
  height: 48px;
  top: 0;
  left: -48px;
  background-color: var(--light);
  border-radius: 0 0 0 48px;
  transform-origin: top right;
  transform: rotate(-90deg);
  cursor: pointer;
  transition: transform calc(var(--speed) * 2) ease-in-out calc(var(--speed) * 2);
}
@media screen and (max-width: 1200px) {
  aside {
    min-width: 50%;
    padding: 1rem;
  }
}
@media screen and (max-width: 540px) {
  aside {
    min-width: 60%;
    padding: 1rem;
  }
}

aside video {
  width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  position: relative;
  gap: 2rem;
}
.grid-container.three {
  grid-template-columns: repeat(3, 1fr);
}
.grid-container.four {
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1200px) {
  .grid-container.four {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 920px) {
  .grid-container.four {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 540px) {
  .grid-container.four {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid-container.five {
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (max-width: 1200px) {
  .grid-container {
    gap: 1rem;
  }
}

nav.global {
  float: right;
}
nav.global li {
  display: inline-block;
  margin-right: 1.5rem;
}
nav.global li a {
  color: var(--white);
}
nav.global li:last-of-type {
  margin-right: 0;
}

.card {
  background-color: var(--white);
  color: var(--gray-3);
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: transform var(--speed) var(--ease), box-shadow var(--speed) var(--ease);
}

.card h3 {
  transform: translateY(-1em);
  transition: transform var(--speed) var(--ease);
}

.card-info {
  position: relative;
}

.card-content {
  padding: 1rem;
}

.card-content span {
  font-size: 0.9rem;
}

span.role {
  display: block;
  font-size: 0.7rem;
  color: var(--red);
}

.card img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  transition: -webkit-clip-path var(--speed) var(--ease);
  transition: clip-path var(--speed) var(--ease);
  transition: clip-path var(--speed) var(--ease), -webkit-clip-path var(--speed) var(--ease);
}

.card:hover {
  transform: translate(-2px, -2px);
  box-shadow: 1px 1px 0 0 var(--red), 2px 2px 0 0 var(--red);
}
.card:hover h3 {
  transform: translateY(0);
}
.card:hover img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.card.selected {
  transform: translate(-2px, -2px);
  box-shadow: 1px 1px 0 0 var(--red), 2px 2px 0 0 var(--red), 3px 3px 0 0 var(--red), 4px 4px 0 0 var(--red), 5px 5px 0 0 var(--red);
}
.card.selected::after {
  box-shadow: inset 0 0 0 2px var(--red);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.card.selected img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.card.selected h3 {
  transform: translateY(0);
}

.card.complete img {
  filter: brightness(0.95);
}

.project-details {
  position: absolute;
  width: calc(100% - 4rem);
  transform: translateX(calc(100% + 3rem));
  transition: transform var(--speed) var(--ease);
}
.project-details.selected {
  transform: translateX(0);
  transition-delay: var(--speed);
}
.project-details h3 {
  margin: 1em 0 0.25em;
  color: var(--red);
}
@media screen and (max-width: 1200px) {
  .project-details {
    width: calc(100% - 2rem);
  }
}

@keyframes iris {
  from {
    box-shadow: inset 0 0 0 calc(var(--size) * 0.5) white;
  }
  to {
    box-shadow: inset 0 0 0 0 white;
  }
}
.presentation {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.25rem;
}
.presentation h2 {
  padding-left: 0.5em;
  border-left: 3px solid var(--red);
  margin-bottom: 0.25em;
}
.presentation::-webkit-scrollbar {
  width: 6px;
}
.presentation::-webkit-scrollbar-track {
  background: var(--dark);
}
.presentation::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 3px;
}

section.middle {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  padding: 6rem;
  gap: 3rem;
  max-width: none;
  scroll-snap-align: center;
  overflow: hidden;
}
section.middle.two {
  grid-template-columns: 1fr 2fr;
}
section.middle.three {
  grid-template-columns: 1fr 1fr;
}

.right-container,
.right-container::after {
  --size: 400px;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  position: relative;
  background-size: cover;
  border-radius: calc(var(--size) * 0.5);
}
@media screen and (max-width: 1300px) {
  .right-container,
.right-container::after {
    --size: 300px;
  }
}

.right-container.animated,
.right-container.animated::after {
  box-shadow: inset 0 0 0 calc(var(--size) * 0.5) white;
  animation: iris 0.5s cubic-bezier(0.5, 0, 0, 1) 1s forwards;
}

.right-container.animated::after {
  position: absolute;
  content: "";
  width: calc(var(--size) + 2);
  height: calc(var(--size) + 2);
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  box-shadow: inset 0 0 0 2px white;
  background-image: none;
}

.headshot {
  background-image: url("images/Tony.jpg");
}

.date {
  margin-left: 0.5em;
}

.middle.light {
  background-color: var(--light);
}

.middle.rose {
  background-color: #e9e3e6;
}

.copy h4,
.copy h3 {
  font-weight: 400;
  margin-top: 2em;
  letter-spacing: 0.01em;
}

.middle .images {
  display: grid;
  place-items: center;
  gap: 2rem;
}
@keyframes slideup {
  from {
    margin-top: 50rem;
  }
  to {
    margin-top: -20rem;
  }
}
.middle .images img.animated {
  margin-top: 50rem;
  animation: slideup 15s ease-in-out 1s infinite alternate;
}
.middle .images.scroll {
  place-items: start center;
  overflow-y: scroll;
  height: 100vh;
}
.middle .images.two {
  grid-template-columns: 1fr 1fr;
}
.middle .images.three {
  grid-template-columns: 1fr 1fr 1fr;
}

.questions {
  position: fixed;
  height: 154px;
  top: -160px;
  right: 3em;
  left: 3em;
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--light);
  z-index: 9;
  padding: 1em;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-color: rgba(34, 34, 51, 0.9);
  transition: top var(--speed) var(--ease);
  border-radius: 100px;
  box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 0.25);
}
.questions.active {
  top: 1rem;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}