@font-face {
  font-family: 'SegoeUI';
  src: local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf") format("ttf");
  font-weight: 400; }
@font-face {
  font-family: 'SegoeUI';
  src: local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.ttf") format("ttf");
  font-weight: 100; }
@font-face {
  font-family: 'SegoeUI';
  src: local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.ttf") format("ttf");
  font-weight: 200; }
@font-face {
  font-family: 'SegoeUI';
  src: local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.ttf") format("ttf");
  font-weight: 600; }
@font-face {
  font-family: 'SegoeUI';
  src: local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.ttf") format("ttf");
  font-weight: 600; }
.s-multiflyout-bottom {
  display: none; }

#R1Feedback-opener {
  display: none; }

body {
  font-family: SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.f-right {
  float: right; }

.f-left {
  float: left; }

.inline {
  display: inline-block; }

form input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: none;
  font-size: 0.9em; }

ul.no-style {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.no-style li {
    margin: 0; }
ul.two > li {
  display: inline-block;
  width: 49%; }
ul.three > li {
  display: inline-block;
  width: 32%; }
ul.three button {
  width: 100%; }

button {
  border: none;
  height: 40px;
  font-size: 0.9em;
  background-color: #f1f1f1; }

.center {
  text-align: center; }

@keyframes grow {
  0%,
    100% {
    width: 60px;
    height: 60px; }
  20%,
    80% {
    width: 120px;
    height: 120px; } }
@keyframes wiggle {
  0%,
    100% {
    transform: rotate(0deg); }
  25%,
    75% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(10deg); } }
@keyframes windowin {
  0% {
    transform: translateY(calc(100% + 140px)); }
  100% {
    transform: translateY(0); } }
@keyframes cyanin {
  0% {
    transform: translateY(550px); }
  100% {
    transform: translateY(0); } }
@keyframes helpin {
  0% {
    transform: translateY(330px); }
  100% {
    transform: translateY(0); } }
body {
  margin: 0; }

div {
  box-sizing: border-box; }

.page-img img {
  display: block;
  width: 100%;
  max-width: 1800px;
  height: auto;
  margin: 0 auto; }

.button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #52e5ff;
  border-radius: 50%;
  overflow: hidden;
  animation-name: grow, wiggle;
  animation-duration: 3s, 0.5s;
  animation-iteration-count: 1, 2;
  animation-delay: 2s, 3s;
  animation-timing-function: cubic-bezier(0.5, 0, 0, 1), linear;
  cursor: pointer;
  box-shadow: 10px 10px 15px -1px rgba(0, 0, 0, 0.1);
  z-index: 2; }
  .button .talkbubble {
    width: 50%;
    margin-top: 6%;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.5, 0, 0, 1); }
  .button .closex {
    width: 0%;
    margin-top: 4%;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
    transition-delay: 0.25s; }
  .button.next .talkbubble {
    width: 125%;
    margin-top: 18%; }
  .button.next .closex {
    width: 30%; }
  .button.orange {
    background-color: #ff9349 !important; }
    .button.orange .talkbubble path {
      fill: #6b2929 !important; }
    .button.orange .closex path {
      fill: #ff9349 !important; }
  .button.teal {
    background-color: #30e5d0 !important; }
    .button.teal .talkbubble path {
      fill: #274b47 !important; }
    .button.teal .closex path {
      fill: #30e5d0 !important; }

.chat h1,
.chat h2,
.chat h3,
.chat h4,
.chat h5 {
  margin-top: 0; }
.chat.window {
  position: fixed;
  width: 400px;
  height: 600px;
  bottom: 140px;
  right: 30px;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  box-shadow: 10px 10px 15px -1px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  transform: translateY(calc(100% + 140px)); }
  .chat.window.in {
    animation-name: windowin;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1); }
    .chat.window.in .agent.card.textform {
      animation-name: cyanin;
      animation-duration: 0.5s;
      animation-delay: 0.25s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: cubic-bezier(0.5, 0, 0, 1); }
    .chat.window.in .agent.card.help {
      animation-name: helpin;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: cubic-bezier(0.5, 0, 0, 1); }
      .chat.window.in .agent.card.help.two {
        animation-delay: 0.75s; }
    .chat.window.in .agent form {
      width: calc(100% - 80px); }
  .chat.window .header {
    background-color: #283c5e;
    color: #52e5ff;
    padding: 20px;
    height: 100px; }
  .chat.window .agent.card {
    width: 80%;
    margin: 20px 40px 20px 20px;
    padding: 20px;
    box-shadow: 10px 10px 15px -1px rgba(0, 0, 0, 0.1);
    border-radius: 0 20px 20px 20px; }
    .chat.window .agent.card.textform {
      margin-top: -30px !important;
      background-color: #52e5ff;
      color: #283c5e;
      transform: translateY(550px); }
    .chat.window .agent.card.help {
      background-color: #ffffff;
      color: #606060;
      border-radius: 0 0 5px 5px;
      border-top: 3px solid #52e5ff;
      width: 90%;
      transform: translateY(330px); }
  .chat.window .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box; }
    .chat.window .icon.attach {
      background-color: #3078cf;
      text-align: center; }
      .chat.window .icon.attach svg {
        height: 20px; }
    .chat.window .icon.send {
      background-color: #3078cf; }
  .chat.window.orange .header {
    background-color: #6b2929 !important;
    color: #ff9349 !important; }
  .chat.window.orange .textform {
    background-color: #ff9349 !important;
    color: #6b2929 !important; }
  .chat.window.orange .help {
    border-top: 3px solid #ff9349 !important; }
  .chat.window.orange .icon {
    background-color: #6b2929 !important; }
    .chat.window.orange .icon path {
      fill: #ff9349 !important; }
    .chat.window.orange .icon.send path, .chat.window.orange .icon.attach path {
      fill: #ffffff !important; }
  .chat.window.teal .header {
    background-color: #274b47 !important;
    color: #30e5d0 !important; }
  .chat.window.teal .textform {
    background-color: #30e5d0 !important;
    color: #274b47 !important; }
  .chat.window.teal .help {
    border-top: 3px solid #30e5d0 !important; }
  .chat.window.teal .icon {
    background-color: #274b47 !important; }
    .chat.window.teal .icon path {
      fill: #30e5d0 !important; }
    .chat.window.teal .icon.send path, .chat.window.teal .icon.attach path {
      fill: #ffffff !important; }

.colorpicker-container {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  height: 90px;
  width: 190px; }
  .colorpicker-container:hover .colorpicker {
    transform: translateY(0); }
  .colorpicker-container .colorpicker {
    background-color: #404040;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 160px;
    border-radius: 30px;
    padding: 10px;
    transform: translateY(calc(100% + 30px));
    transition: all 0.25s cubic-bezier(0.5, 0, 0, 1); }
    .colorpicker-container .colorpicker .circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      content: "&nbsp;";
      cursor: pointer; }
      .colorpicker-container .colorpicker .circle.selected {
        border: 5px solid #ffffff; }
    .colorpicker-container .colorpicker .blue {
      background-color: #52e5ff; }
    .colorpicker-container .colorpicker .orange {
      background-color: #ff9349; }
    .colorpicker-container .colorpicker .teal {
      background-color: #30e5d0; }
